@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    font-family: "Nunito";
}

body {
    background-color: #333333FF;
}

button {
    color: white;
    width: 100%;
    height: 45px;
    font-size: 20px;
    border-radius: 3px;
    border: None;
    background-color: #4d4c4c;
}
button:hover {
    background-color: #545252;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2px;
    padding: 5px;
}

.sqrt {
    font-family: Calibri;
    font-size: 25px;
}

.equally {
    background-color: #009acb;
}
.equally:hover {
    background-color: #008bb4;
}

.c {
    background-color: #c00000;
}
.c:hover {
    background-color: #ab0000;
}

.backspace {
    background-color: #c02d00;
}
.backspace:hover {
    background-color: #b02b00;
}

.math-action-btn {
    background-color: #3f3f3f;
}
.math-action-btn:hover {
    background-color: #3a3a3a;
}

#expression {
    border-radius: 6px;
    border: None;
    width: 100%;
    height: 50px;
    text-align: left;
    background-color: #414141;
    font-size: 33px;
    color: white;
}
